/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	vertical-align: baseline;
	background-color: #F2F2F2;
	color: #3d3d3d;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 2.1em;

	.nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// background-color: #e7e7e7;
		width: 100%;
		height: 4em;
		border-bottom: 0.15px solid rgb(85, 85, 85);
	}

	h1 {
		font-size: 20px;
		font-weight: 300;
		// background-color: #e7e7e7;
		padding-left: 1%;
		font-family: 'Yeseva One', cursive;
	}

	ul.menu-nav {
		// background-color: #e7e7e7;
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;

		li, a {
			margin: 7px;
			// background-color: #e7e7e7;

			img {
				width: 20px;
				height: 20px;
				// background-color: #e7e7e7;

				&#linkedin {
					width: 23px;
					// background-color: #e7e7e7;
				}
			}

			.dropdown {
				position: relative;
				display: inline-block;
				// background-color: #e7e7e7;

			}

			.dropdown-button {
				color: rgb(0, 0, 0);
				border: none;
				font-size: 18px;
				font-weight: 300;
				cursor: pointer;
				margin: 7px;
				// background-color: #e7e7e7;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				// background-color: #F2F2F2;
				min-width: 200px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
				right: 0;
			}

			.dropdown-content p {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				font-size: 12px;
			}

			.dropdown-content p:hover {
				background-color: #ddd;
				cursor: pointer;
			}

			.dropdown:hover .dropdown-content {
				display: block;
			}
		}
	}

	.poem-metadata {
		// background-color: #e7e7e7;;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		h2 {
			font-size: 2.4em;
			font-weight: 400;
			margin-top: 1.4em;
			margin-bottom: .5em;
			font-family: 'Yeseva One', cursive;
		}

		h3 {
			font-size: 15px;
			margin-bottom: 2em;
		}
	}
}

.main {
	display: flex;
	justify-content: space-evenly;
	margin: 20em 8.1em 5em 8.1em;

	.poem {
		min-width: 50%;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;

		ul {
			display: flex;
			margin: 0.2em;
			cursor: pointer;

			span.tooltiptext {
				visibility: hidden;
				width: max-content;
				background-color: #ffffff;;
				box-shadow: 0px 1px 1px 0px rgb(56, 56, 56, 3);
				color: black;
				text-align: center;
				padding: 5%;
				border-radius: 3.5px;
				font-size: 1.5vw;

				position: absolute;
				z-index: 1;
				top: 100%;
				left: 55%;
				margin-top: 2%;
				margin-left: -50%;
			}

			&:hover .tooltiptext{
				visibility: visible;
			}

			&:hover {
				transform: scale(1.05);
			}

			// words in a line
			li {
				margin: 2px;
				font-size: 1.7vw;
				padding: 3px;
			}

			// words corresponding to pos-tiles
			.selected {
				border-radius: 3px;
				padding: 3px;
				transition: all .2s ease-in-out;

				&.noun {
					background-color: #90bbd3;
				}

				&.verb {
					background-color: #bfcba4;
				}

				&.adjective {
					background-color: #f8b77b;
				}

				&.adverb{
					background-color: #f36691;
				}

				&.article{
					background-color: #e87577;
				}

				&.pronoun{
					background-color: #9f93b6;
				}

				&.preposition{
					background-color: #f1d188;
				}

				&.conjunction{
					background-color: #60d8d0;
				}
			}
		}
	}

	.pos-placeholder {
		width: 50%;
	}

	.pos {
		position: fixed;
		z-index: 1;
		display: flex;
		margin-left: 63%;
		margin-top: 3%;
		flex-direction: column;
		align-items: flex-start;

		.pos-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			max-width: 50%;

			.pos-tile {
				margin: 3%;
				font-size: 15px;
				color: #F2F2F2;
				font-weight: 800;
				border-radius: 5px;
				padding: 10px;
				text-transform: uppercase;
				transition: all .2s ease-in-out;

				&#clear-tile {
					color: #d22525;

					&.disabled {
						color: rgb(188, 188, 188);
						transform: none;
						cursor: unset ;
					}
				}
			}

			li:hover {
				cursor: pointer;
				transform: scale(0.9);
			}

			#noun {
				border-color: #0D699A;
				outline-width: 2px;
				outline-style: solid;
				color: #0D699A;

				&.selected {
					background-color: #0D699A;
					color: #F2F2F2;
				}
			}

			#verb {
				border-color: #768948;
				outline-width: 2px;
				outline-style: solid;
				color: #768948;

				&.selected {
					background-color: #768948;
					color: #F2F2F2;
				}
			}

			#adjective {
				border-color: #EC7200;
				outline-width: 2px;
				outline-style: solid;
				color: #EC7200;

				&.selected {
					background-color: #EC7200;
					color: #F2F2F2;
				}

			}

			#adverb {
				border-color: #d43766;
				outline-width: 2px;
				outline-style: solid;
				color: #CA3F69;

				&.selected {
					background-color: #d43766;
					color: #F2F2F2;
				}
			}

			#article {
				border-color: #A50104;
				outline-width: 2px;
				outline-style: solid;
				color: #A50104;

				&.selected {
					background-color: #A50104;
					color: #F2F2F2;
				}
			}

			#pronoun {
				border-color: #39304A;
				outline-width: 2px;
				outline-style: solid;
				color: #39304A;

				&.selected {
					background-color: #39304A;
					color: #F2F2F2;
				}
			}

			#preposition {
				border-color: #D5A021;
				outline-width: 2px;
				outline-style: solid;
				color: #D5A021;

				&.selected {
					background-color: #D5A021;
					color: #F2F2F2;
				}
			}

			#conjunction {
				border-color: #288F88;
				outline-width: 2px;
				outline-style: solid;
				color: #288F88;

				&.selected {
					background-color: #288F88;
					color: #F2F2F2;
				}
			}
		}
	}
}
